# Ambientes Virtuais
venv/
env/
.env/

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Variáveis de Ambiente (Segredos e Senhas)
.env

# Configurações de IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db
